<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Fourth Coffee - @Page.Title</title>
        <link href="~/Content/Site.css" rel="stylesheet" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <script src="~/Scripts/modernizr-2.0.6-development-only.js"></script>
        <script src="~/Scripts/jquery-1.6.4.min.js"></script>
        @RenderSection("Scripts", required: false)
    </head>
    <body>
        <div id="page">
            <header>
                <p class="site-title"><a href="~/">Fourth Coffee</a></p>
                <nav>
                    <ul>
                        <li><a href="~/">Home</a></li>
                        <li><a href="~/About">About Us</a></li>
                    </ul>
                </nav>
            </header>
            <div id="body">
                @RenderBody()
            </div>
            <footer>
                &copy;@DateTime.Now.Year - Fourth Coffee
            </footer>
        </div>
    </body>
</html>