@using System;
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    Hello! The time is @DateTime.Now!
    This was requested from @Request.Path with a @Request.Method @sdfjklsdfjklsdfjkl
</body>
</html>
